<%- include("../layouts/header.ejs") %>
<section id="cart-section" class="pt-5">
    <div class="px-1 px-lg-0">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-lg-5 p-0 bg-white rounded shadow-sm mb-5">    <!--CHANGE IN CLASS-->
                        
                        <% if(cart === null) { %>
                        <h1>Cart is Empty</h1>
                        <% } else { %>
                        
                        <!-- Shopping cart table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th
                                            scope="col"
                                            class="border-0 bg-light"
                                        >
                                            <div
                                                class="p-2 px-3 text-uppercase"
                                            >
                                                Product
                                            </div>
                                        </th>
                                        <th
                                            scope="col"
                                            class="border-0 bg-light"
                                        >
                                            <div class="py-2 text-uppercase text-center">
                                                Total Cost (₹)
                                            </div>
                                        </th>
                                        <th
                                            scope="col"
                                            class="border-0 bg-light"
                                        >
                                            <div class="py-2 text-uppercase text-center">
                                                Quantity
                                            </div>
                                        </th>
                                        <th
                                            scope="col"
                                            class="border-0 bg-light"
                                        >
                                            <div class="py-2 text-uppercase remove-product text-center"> 
                                                Remove
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% for(var i = 0; i < cart.items.length; i++) { %>

                                
                                    <tr>
                                        <th scope="row" class="border-0">
                                            <div class="p-2">
                                                <img
                                                    src="/images/menu/<%= cart.categories[i].category %>/<%= cart.items[i].item %>.jpg"
                                                    alt="food_img"
                                                    width="70"
                                                    class="img-fluid rounded shadow-sm"
                                                />
                                                
                                                <div     
                                                    class="ml-md-3 d-inline-block align-middle"    
                                                >
                                                    <h5 class="mb-0">
                                                        <span
                                                            href="#"
                                                            class="text-dark d-inline-block align-middle"
                                                            ><%= cart.items[i].item %></span
                                                        >
                                                    </h5>
                                                    <a
                                                    href="/menu/<%= cart.categories[i].category %>"
                                                        class="text-muted font-weight-normal font-italic d-block"
                                                        >Category: <%= cart.categories[i].category %></a
                                                    >
                                                </div>
                                            </div>
                                        </th>
                                        <td class="border-0 align-middle text-center">
                                            <strong><%= cart.items_cost[i].cost %></strong>
                                        </td>
                                        <td class="border-0 align-middle text-center">
                                            <strong><%= cart.items_count[i].count %></strong>
                                        </td>
                                        <td class="border-0 align-middle text-center">
                                            <a href="/remove/<%= cart.items[i].item %>?id=<%= cart._id %>" class="text-dark"
                                                ><i class="fa fa-trash"></i
                                            ></a>
                                        </td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>

                    <% } %>
                        <!-- End -->
                    </div>
                </div>

                <% if(cart !== null) { %>

                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                    <div class="col-lg-12">
                        <div
                            class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold"
                        >
                            Order summary
                        </div>
                        <div class="p-4">
                            <ul class="list-unstyled mb-4">
                                <li
                                    class="d-flex justify-content-between py-3 border-bottom"
                                >
                                <% var total = 0 %>
                                <% for(var i = 0; i < cart.items.length; i++) { %>
                                    <% total += cart.items_cost[i].cost; %>
                                <% } %> 
                                    <strong class="text-muted"
                                        >Order Subtotal </strong
                                    ><strong> ₹<%= total %>.00 </strong>
                                </li>

                                <% var tax = Math.round(0.05 * total) %>

                                <li
                                    class="d-flex justify-content-between py-3 border-bottom"
                                >
                                    <strong class="text-muted">Tax</strong
                                    ><strong> ₹<%= tax %>.00 </strong>
                                </li>
                                <li
                                    class="d-flex justify-content-between py-3 border-bottom"
                                >
                                    <strong class="text-muted">Total</strong>
                                    <h5 class="font-weight-bold"> ₹<%= total + tax %>.00 </h5>
                                </li>
                            </ul>
                            <a
                                href="#"
                                class="btn btn-dark rounded-pill py-2 btn-block"
                                >Procceed to checkout</a
                            >
                        </div>
                    </div>
                </div>

                <% } %>
            </div>
        </div>
    </div>
</section>
<%- include("../layouts/footer.ejs") %>
